/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0;
}

#contenedor {
    display: grid;
    grid-template-areas:       
                         "area2 area3 area4 area5"
                         "area2 area3 area4 area5";
    grid-gap: 10px;
    margin: 20px;
}
header{
    margin: 20px;
}



#column1 {
    grid-area: area2;
}

/* #columnimage {
    grid-area: area4;
} */

#column2 {
    grid-area: area3;
    margin-left: 150px;
    margin-right: 300px;

}
#image1{
    width: 200px;
    height: 300px;
    margin-left: 70px;

}

hr {
    grid-area: area4;
    height: 100vh;
    width: .5vw;
    border-width: 0;
    color: rgb(159, 16, 16);
    background-color: rgb(129, 21, 21);
    margin-right: 50px;
}

#column3 {
    grid-area: area5;
    
}

#parrafo1 {
    text-align: justify;
    
}
#fechaPublicacion{
    text-align: end;
}

/* #column2 p#parrafo1 {
    text-align: justify;

} */


/* #column3 {
    grid-area: area3;
} */

